details {
    margin-bottom: 10px;
}

summary {
    font-weight: normal;
    cursor: pointer;
}

details[open] summary {
    font-weight: bold;
    color: #007bff; /* Change this for an open state color */
}

.half-size {
    width: 50%;
    height: auto;
    margin: 0 auto;
    overflow: hidden; /* Ensures no overflow outside the container */
}

.carousel-container {
    display: flex;
    align-items: flex-start; /* Aligns items to the top */
}

.full-size {
    width: 150%; /* Ensures it doesn't exceed container width */
    height: auto; /* Adjust height as needed based on aspect ratio */
    margin-right: 0;
    overflow: hidden;
}
